/*
 * author thebadlorax
 * created on 25-07-2026-10h-01m
 * github: https://github.com/thebadlorax
 * copyright 2026
*/

.glossary-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*height: 200px;*/

    background: white;
    padding: 25px 25px;
    border-radius: 15px;
    border: 1px solid var(--border);
    text-align: center;
    transition: 0.25s;
}

.selected {
    background: rgba(52, 247, 228, 0.3);
}

.glossary-card:hover {
    transform: translateX(-8px);
    box-shadow: var(--shadow-hover-small);
}

.spacer {
    height: 50px;
}

.glossary-card p {
    margin-top: auto;
}

.glossary-card h3 {
    color: var(--navy);
    margin: 0 0 10px 0;
}

.glossary-card p {
    color: var(--gray);
    margin: 0;
}

/*.glossary-card:hover {
    transform: translateY(-8px);
    box-shadow: var(--shadow-hover);
}*/

.info-cards {
    overflow-y: auto;
    height: 500px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    overscroll-behavior: none;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
  


.category-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 12px;
    transition: 0.2s;
}

.description-container {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 12px;
    transition: opacity 0.05s ease-in-out;

    position: absolute;
    top: -10%;
    height: 0px;
    width: 80vw;

    opacity: 0;
}

.description-container p {
    color: black;
}

.category-container:hover {
    scale: 1.05;
}

.category-container.active {
    scale: 1.1;
}

.category-container.active:hover {
    scale: 1.15;
}

.category-container:hover .description-container {
    opacity: 1;
}